:root {
  --background: #6d6875;
  --universal-dark: #b5838d;
  --universal: #e5989b;
  --universal-light: #ffb4a2;
  --color: #ffcdb2;
}

.App,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  background: var(--background) url(/src/Components/Images/waves.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}

* {
  font-family: 'Quicksand';
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}